<!-- <div class="row" *ngIf="member"> -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top img-thumbnail" src="{{member.mainPhotoUrl || './assets/images/default-user.png'}}"
                alt="{{member.aka}}">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{member.aka}}
                        <span style="color: green;"
                            *ngIf="(presenceService.onlineUser$ | async)?.includes(member.userName)">
                            Online
                        </span>
                    </p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}} / {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive + 'Z' | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created| date}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About" (selectTab)="onTabActivated($event)"> Description </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)"> Looking for </tab>
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)"> Interests </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.userName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>